

<h1>Upcoming Events</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th>Date</th>
      <th>Time</th>
      <th>Tickets Remaining</th>
    </tr>
  </thead>
  <% @events.each do |event| %>
    <tbody>
      <td><%= event.category %></td>
      <td><%= event.name %></td>
      <td><%= event.format_date %></td>
      <td><%= event.format_time %></td>
      <td><%= event.tickets_remaining %></td>
    </tbody>
  <% end %>
</table>
