<section>
<p>
  Future Dashboard
</p>
  <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
</section>

<h1>Upcoming Events</h1>

<%= link_to 'Add New Event', new_event_path %> <br><br>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th>Date</th>
      <th>Time</th>
      <th>Tickets Remaining</th>
    </tr>
  </thead>
  <% @events.each do |event| %>
    <tbody>
      <td><%= event.category %></td>
      <td><%= link_to event.name, event_path(event) %></td>
      <td><%= event.format_date %></td>
      <td><%= event.format_time %></td>
      <td><%= event.tickets_remaining %></td>
    </tbody>
  <% end %>
</table>
