<div class="container">
  <div class="row"  id="main-header">
    <div class="col-md-12">
      <h1>Upcoming Events</h1>
    </div>
  </div>
</div>

<div class="container">
  <%= link_to 'Add New Event', new_event_path %> <br><br>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row text-center" id="event-listing">
        <div class="col-md-2 text-bold">
          <p id="column-header">Event Category</p>
        </div>
        <div class="col-md-4">
          <p id="column-header">Event Name</p>
        </div>
        <div class="col-md-2">
          <p id="column-header">Date</p>
        </div>
        <div class="col-md-2">
          <p id="column-header">Time</p>
        </div>
        <div class="col-md-2">
          <p id="column-header">Tickets Remaining</p>
        </div>
      </div>
      <% @events.each do |event| %>
        <div class="row text-center" id="event-listing">
          <div class="col-md-2">
            <%= event.category %>
          </div>
          <div class="col-md-4">
            <%= link_to event.name, event_path(event) %>
          </div>
          <div class="col-md-2">
            <%= event.format_date %>
          </div>
          <div class="col-md-2">
            <%= event.format_time %>
          </div>
          <div class="col-md-2">
            <%= event.tickets_remaining %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
