<div class="container">
  <div class="row" id="main-header">
    <h1><%= @event.name %></h1>
  </div>
</div>

<p class="notice"><%= notice %></p>

<% if current_user.try(:admin?) %>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12" id="admin-option">
        <p>Admin Panel</p>
        <%= link_to "Edit", edit_event_path(@event) %> |
        <%= link_to "Delete", event_path(@event), method: :delete, data: { confirm: "Are you sure you would like to delete this event?"} %>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-12" id="single-event">
      <p>Tickets Remaining: <%= @event.tickets_remaining %> </p>
      <p>Date: <%= @event.format_date %></p>
      <p>Time: <%= @event.format_time %></p>
      <% if @event.sold_out? %>
        <%= "Sorry, this event is sold out" %>
      <% else %>
        <% if !current_user %>
          <%= "You must be logged in to buy tickets" %>
        <% else %>
          <%= link_to "Buy tickets here.", new_event_ticket_path(@event) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
