<!DOCTYPE html>
<html>
  <head>
    <title>DenverTheater</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag *webpack_asset_paths("application") %>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body class="app">
    <%= render "pages/notice" %>

    <section>
      <div class="nav">
        <div class="container">
          <ul class="pull-left">
            <% if current_user %>
              <li><%= "Welcome, #{current_user.email}" %></li> |
              <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Log in", new_user_session_path %></li>  |
              <li><%= link_to "Register", new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </section>
    <div class="nav">
        <div class="container">
          <ul class="pull-left">
            <% if current_user %>
              <li><%= link_to "My Dashboard", user_path(current_user) %></li> |
            <% end %>
            <li><%= link_to "Events", events_path %></li>
        </ul>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
